* {
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-button {
        opacity: 0;
        width: 5px;
        height: 8px;
    }
    ::-webkit-scrollbar-track-piece {
        display: none;
    }
    ::-webkit-scrollbar-thumb {
        width: 8px;
        border-radius: 10px;
        background-color: #cdcdcd;
    }
.content {
    width: 100%;
    height: 100%;
    header{
    	width: 100%;
    	height: 40px;
    	background-color: #cff8f2;
    }
    .canvasContent {
        width: 75%;
        height: 100%;
        float: left;
        position: relative;
        .left-list {
            width: 60%;
            overflow-x: scroll;
            border: 1px solid rgba(0, 0, 0, 0.5);
            background-color: #fafafa;
            position: fixed;
			bottom: 20px;
			margin-left: 20px;
            li {
                width: 164px;
                margin: 10px;
                box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.24);
                list-style: none;
                float: left;
                img {
                    width: 164px;
                }
            }
            .addCanvas{
            	width: 50px;
            	height: 50px;
            	border-radius: 50px;
            	display: block;
            	border:1px solid rgba(0, 0, 0, 0.5);
            	margin: 30px;
            	float: left;
            	line-height: 3;
            	cursor: pointer;
            }
            .cur {
                box-shadow: 0 0 8px 0 rgba(0, 174, 255, 1);
            }
        }
        .main-list {
            padding: 10px;
            background-color: #fafafa;
            position: absolute;
            left: 30%;
            top: 20%;
            transform: translate(-30%, -20%);
            .canvas-container {
                margin: auto;
                line-height: 1.5;
                box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.24);
            }
        }
    }
}
